<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/script.js"></script>
    <!-- header -->

    <title>الإشعارات</title>

    <!-- style -->

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/frameWork.css">

    <!-- icons lib -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/503befbdb7.js" crossorigin="anonymous"></script>
</head>

<body>

    <!-- start Navbar -->

    <div class="navbar">
        <% if(user) {%>
            <div class="userData">
                <img class="cover"
                    src="https://ik.imagekit.io/83055nufx/userIcon/<%=user.gender%>Student.png?updatedAt=1751925030845">
                <p class="username">
                    <%= user.username%>
                </p>
                <button onclick="window.location.href='/profile'" class="setting"><svg width="20" height="20"
                        viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M9.4415 0H10.5585C11.4193 0 12.1836 0.55086 12.4558 1.36754L12.88 2.63999C12.9573 2.87193 13.1169 3.06751 13.3286 3.18976L14.2334 3.7122C14.4451 3.83447 14.6943 3.87492 14.9339 3.8259L16.2479 3.55701C17.0913 3.38443 17.9505 3.77088 18.3809 4.51641L18.9394 5.48373C19.3698 6.22925 19.2749 7.16657 18.7037 7.81067L17.8139 8.8142C17.6516 8.9971 17.5621 9.2332 17.5621 9.4777V10.5224C17.5621 10.7669 17.6517 11.0029 17.8139 11.1859L18.7038 12.1894C19.275 12.8335 19.3699 13.7708 18.9395 14.5163L18.381 15.4837C17.9506 16.2292 17.0914 16.6156 16.248 16.4431L14.934 16.1742C14.6944 16.1251 14.4452 16.1656 14.2335 16.2878L13.3286 16.8102C13.1169 16.9325 12.9573 17.1281 12.88 17.36L12.4558 18.6325C12.1836 19.4491 11.4193 20 10.5585 20H9.4415C8.5806 20 7.81635 19.4491 7.54412 18.6325L7.11999 17.3601C7.04267 17.1281 6.88304 16.9325 6.67128 16.8102L5.76643 16.2879C5.55469 16.1656 5.30551 16.1252 5.06598 16.1742L3.75195 16.4431C2.90856 16.6157 2.04937 16.2293 1.61893 15.4837L1.06045 14.5164C0.630023 13.7709 0.724943 12.8336 1.2961 12.1895L2.18598 11.1859C2.3482 11.003 2.43777 10.767 2.43778 10.5225L2.43779 9.4776C2.43779 9.2331 2.34822 8.9971 2.18599 8.8141L1.29612 7.8106C0.724973 7.1665 0.630053 6.22919 1.06048 5.48366L1.61896 4.51634C2.04939 3.77081 2.90859 3.38436 3.75197 3.55695L5.06598 3.82584C5.30552 3.87486 5.55472 3.83442 5.76646 3.71217L6.6713 3.18976C6.88305 3.06751 7.04267 2.87192 7.11999 2.63996L7.54412 1.36754C7.81635 0.55086 8.5806 0 9.4415 0ZM10 13.5C11.933 13.5 13.5 11.933 13.5 10C13.5 8.067 11.933 6.5 10 6.5C8.067 6.5 6.5 8.067 6.5 10C6.5 11.933 8.067 13.5 10 13.5Z"
                            fill="whitesmoke" />
                    </svg>
                </button>
            </div>
            <% } else{%>

                <button onclick="window.location.href='/login'" class="notLoggedBtn">
                    تسجيل الدخول
                </button>

                <% } %>
                    <img src="media/midad2.png" class="logos">
                    <button id="action1" onclick="test()"><svg width="30" height="25" viewBox="0 0 30 25" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M0 2.08333C0 1.5308 0.225765 1.0009 0.627628 0.610195C1.02949 0.219494 1.57454 0 2.14286 0H27.8571C28.4255 0 28.9705 0.219494 29.3724 0.610195C29.7742 1.0009 30 1.5308 30 2.08333C30 2.63587 29.7742 3.16577 29.3724 3.55647C28.9705 3.94717 28.4255 4.16667 27.8571 4.16667H2.14286C1.57454 4.16667 1.02949 3.94717 0.627628 3.55647C0.225765 3.16577 0 2.63587 0 2.08333ZM0 12.5C0 11.9475 0.225765 11.4176 0.627628 11.0269C1.02949 10.6362 1.57454 10.4167 2.14286 10.4167H27.8571C28.4255 10.4167 28.9705 10.6362 29.3724 11.0269C29.7742 11.4176 30 11.9475 30 12.5C30 13.0525 29.7742 13.5824 29.3724 13.9731C28.9705 14.3638 28.4255 14.5833 27.8571 14.5833H2.14286C1.57454 14.5833 1.02949 14.3638 0.627628 13.9731C0.225765 13.5824 0 13.0525 0 12.5ZM0 22.9167C0 22.3641 0.225765 21.8342 0.627628 21.4435C1.02949 21.0528 1.57454 20.8333 2.14286 20.8333H27.8571C28.4255 20.8333 28.9705 21.0528 29.3724 21.4435C29.7742 21.8342 30 22.3641 30 22.9167C30 23.4692 29.7742 23.9991 29.3724 24.3898C28.9705 24.7805 28.4255 25 27.8571 25H2.14286C1.57454 25 1.02949 24.7805 0.627628 24.3898C0.225765 23.9991 0 23.4692 0 22.9167Z"
                                fill="#A5A5A8" />
                        </svg>

                    </button>
    </div>

    <div class="sidebar">
        <div class="contents">
            <ul class="list-ul">
                <li><svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.35742 17.1113H15.1724" stroke="#a5a5a8" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M2.67871 14.6886C2.67871 9.05759 3.29271 9.45059 6.59771 6.38559C8.04371 5.22159 10.2937 2.97559 12.2367 2.97559C14.1787 2.97559 16.4737 5.21059 17.9327 6.38559C21.2377 9.45059 21.8507 9.05759 21.8507 14.6886C21.8507 22.9756 19.8917 22.9756 12.2647 22.9756C4.63771 22.9756 2.67871 22.9756 2.67871 14.6886Z"
                            stroke="#a5a5a8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <a href="/">الرئيسية</a>
                </li>
                <li><svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.8743 16.6719H8.6543" stroke="#a5a5a8" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M15.8743 12.9121H8.6543" stroke="#a5a5a8" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M11.4093 9.15234H8.6543" stroke="#a5a5a8" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M3.88867 12.9756C3.88867 19.9126 5.98667 22.2256 12.2797 22.2256C18.5737 22.2256 20.6707 19.9126 20.6707 12.9756C20.6707 6.03859 18.5737 3.72559 12.2797 3.72559C5.98667 3.72559 3.88867 6.03859 3.88867 12.9756Z"
                            stroke="#a5a5a8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>

                    <a href="/library">الكتب الجامعية</a>
                </li>
                <li> <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M12.2783 3.72559C5.34132 3.72559 3.02832 6.03859 3.02832 12.9756C3.02832 19.9126 5.34132 22.2256 12.2783 22.2256C19.2153 22.2256 21.5283 19.9126 21.5283 12.9756"
                            stroke="#a5a5a8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M19.8064 5.27922V5.27922C18.8134 4.40022 17.2964 4.49222 16.4174 5.48522C16.4174 5.48522 12.0484 10.4202 10.5334 12.1332C9.01636 13.8452 10.1284 16.2102 10.1284 16.2102C10.1284 16.2102 12.6324 17.0032 14.1264 15.3152C15.6214 13.6272 20.0124 8.66822 20.0124 8.66822C20.8914 7.67522 20.7984 6.15822 19.8064 5.27922Z"
                            stroke="#a5a5a8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M15.2871 6.77637L18.8821 9.95937" stroke="#a5a5a8" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>

                    <a href="/edit">تعديل الملفات</a>
                </li>
                <li class="activeList4"><svg width="25" height="25" viewBox="0 0 25 25" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M12.2742 3.49023C7.83993 3.49023 5.91326 7.50547 5.91326 10.1598C5.91326 12.1436 6.20088 11.5598 5.10279 13.9798C3.76184 17.4283 9.15422 18.8379 12.2742 18.8379C15.3933 18.8379 20.7856 17.4283 19.4456 13.9798C18.3475 11.5598 18.6352 12.1436 18.6352 10.1598C18.6352 7.50547 16.7075 3.49023 12.2742 3.49023Z"
                            stroke="#a5a5a8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M14.5839 21.4883C13.2896 22.934 11.2705 22.9511 9.96387 21.4883" stroke="#a5a5a8"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <a href="/notifications">إشعارات هامة</a>
                </li>
                <li><svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M12.2486 3.47559C5.86156 3.47559 4.78256 4.40759 4.78256 11.9046C4.78256 20.2976 4.62556 22.4756 6.22156 22.4756C7.81656 22.4756 10.4216 18.7916 12.2486 18.7916C14.0756 18.7916 16.6806 22.4756 18.2756 22.4756C19.8716 22.4756 19.7146 20.2976 19.7146 11.9046C19.7146 4.40759 18.6356 3.47559 12.2486 3.47559Z"
                            stroke="#a5a5a8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>

                    <a href="/bookMarks">قائمة المرجعيات</a>
                </li>
                <li><svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M11.7714 13.4136C11.7714 13.4136 -0.205275 10.936 3.95667 8.53341C7.46882 6.50611 19.5728 3.02056 21.2638 3.92116C22.1644 5.61216 18.6788 17.7161 16.6515 21.2283C14.249 25.3902 11.7714 13.4136 11.7714 13.4136Z"
                            stroke="#a5a5a8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M11.7715 13.4133L21.2639 3.9209" stroke="#a5a5a8" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <a href="/contact">تواصل</a>
                </li>
            </ul>
            <div class="footer-wright">
                <p class="right">© | Enigma - 2025</p>
            </div>
        </div>
    </div>

    <!-- End navbar -->

    <div class="block" onclick="hideblock()"></div>

    <!-- start content -->

    <% if (data.length==0) { %>
        <div class="noData mt-20">
            <svg width="300" height="250" viewBox="0 0 119 104" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M16.35 76.43C16.8912 76.43 17.33 75.9912 17.33 75.45C17.33 74.9087 16.8912 74.47 16.35 74.47C15.8088 74.47 15.37 74.9087 15.37 75.45C15.37 75.9912 15.8088 76.43 16.35 76.43Z"
                    fill="#4A5059" />
                <path
                    d="M79.9001 35.5C71.5301 35.5 63.0101 35.16 55.0401 32.94C47.0701 30.72 40.0401 26.56 33.6401 21.69C29.4501 18.52 25.6401 15.99 20.1901 16.37C14.8716 16.6601 9.78614 18.6473 5.68006 22.04C-1.24994 28.1 -0.199941 39.31 2.57006 47.19C6.73006 59.06 19.3901 67.31 30.1501 72.68C42.5801 78.89 56.2301 82.5 69.9301 84.57C81.9301 86.4 97.3501 87.72 107.75 79.88C117.3 72.68 119.92 56.24 117.58 45.14C117.012 41.8609 115.266 38.9021 112.67 36.82C105.96 31.91 95.9501 35.19 88.4101 35.35C85.6101 35.39 82.7601 35.5 79.9001 35.5Z"
                    fill="#272933" />
                <path
                    d="M62.4701 85.79C68.7053 85.79 73.7601 80.7353 73.7601 74.5C73.7601 68.2647 68.7053 63.21 62.4701 63.21C56.2348 63.21 51.1801 68.2647 51.1801 74.5C51.1801 80.7353 56.2348 85.79 62.4701 85.79Z"
                    fill="#4A5059" />
                <path
                    d="M50.7889 4.02167C52.0496 3.74058 53.3702 3.97179 54.4604 4.66443C55.5506 5.35708 56.321 6.45443 56.6021 7.71508L58.4062 15.8064L48.8997 17.9261L47.0955 9.83481C46.8144 8.57417 47.0456 7.25349 47.7383 6.16331C48.4309 5.07314 49.5283 4.30277 50.7889 4.02167Z"
                    fill="#2D333E" stroke="#4A5059" stroke-miterlimit="10" />
                <path
                    d="M95.31 67.5L37.42 80.4C37.0604 80.4807 36.686 80.4662 36.3337 80.3581C35.9814 80.25 35.6634 80.0519 35.411 79.7833C35.1586 79.5148 34.9806 79.1851 34.8945 78.8268C34.8084 78.4685 34.8172 78.0939 34.92 77.74L35.16 76.91C37.16 69.82 38.9 62.01 37.3 54.81L33.88 39.44C31 26.5 38.74 13.38 51.58 10.2C54.7115 9.4257 57.9663 9.28505 61.153 9.78632C64.3397 10.2876 67.3941 11.4207 70.1367 13.119C72.8793 14.8173 75.2549 17.0466 77.1239 19.6759C78.9928 22.3052 80.3175 25.2815 81.02 28.43L84.55 44.26C86.16 51.46 91.02 57.82 95.88 63.36L96.45 64.01C96.6954 64.2881 96.864 64.6254 96.939 64.9886C97.0141 65.3518 96.993 65.7284 96.8778 66.0809C96.7626 66.4335 96.5574 66.7499 96.2824 66.9988C96.0074 67.2477 95.6722 67.4204 95.31 67.5Z"
                    fill="#2D333E" stroke="#4A5059" stroke-miterlimit="10" />
                <path
                    d="M52.5 57.59C52.4842 55.2543 53.2689 52.9837 54.7235 51.1562C56.1782 49.3287 58.2149 48.0546 60.4946 47.546C62.7743 47.0375 65.1594 47.3252 67.2528 48.3612C69.3463 49.3972 71.0216 51.119 72 53.24"
                    stroke="#4A5059" stroke-linecap="round" stroke-linejoin="round" />
                <path
                    d="M70.3501 41.36C71.1343 41.36 71.7701 40.7243 71.7701 39.94C71.7701 39.1558 71.1343 38.52 70.3501 38.52C69.5658 38.52 68.9301 39.1558 68.9301 39.94C68.9301 40.7243 69.5658 41.36 70.3501 41.36Z"
                    fill="#4A5059" />
                <path
                    d="M48.33 46.27C49.1143 46.27 49.75 45.6342 49.75 44.85C49.75 44.0657 49.1143 43.43 48.33 43.43C47.5458 43.43 46.91 44.0657 46.91 44.85C46.91 45.6342 47.5458 46.27 48.33 46.27Z"
                    fill="#4A5059" />
                <path
                    d="M74.81 2.50999C75.3512 2.50999 75.79 2.07123 75.79 1.52999C75.79 0.98875 75.3512 0.549988 74.81 0.549988C74.2687 0.549988 73.83 0.98875 73.83 1.52999C73.83 2.07123 74.2687 2.50999 74.81 2.50999Z"
                    fill="#4A5059" />
                <path
                    d="M16.35 76.43C16.8912 76.43 17.33 75.9912 17.33 75.45C17.33 74.9087 16.8912 74.47 16.35 74.47C15.8088 74.47 15.37 74.9087 15.37 75.45C15.37 75.9912 15.8088 76.43 16.35 76.43Z"
                    fill="#4A5059" />
                <path d="M101.89 25.2V29.5" stroke="#4A5059" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M99.73 27.35H104.04" stroke="#4A5059" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M103.85 89.94V94.24" stroke="#4A5059" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M101.7 92.09H106" stroke="#4A5059" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M28.67 8.90002V13.2" stroke="#4A5059" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M26.52 11.05H30.82" stroke="#4A5059" stroke-linecap="round" stroke-linejoin="round" />
                <path
                    d="M59.82 104.01C80.0944 104.01 96.53 102.985 96.53 101.72C96.53 100.455 80.0944 99.43 59.82 99.43C39.5456 99.43 23.11 100.455 23.11 101.72C23.11 102.985 39.5456 104.01 59.82 104.01Z"
                    fill="#272933" />
                <path
                    d="M94.89 22.76C94.8874 25.8012 93.6781 28.7171 91.5276 30.8676C89.3772 33.018 86.4613 34.2273 83.42 34.23C83.0459 34.2302 82.672 34.2102 82.3 34.17L78.9 39.72L77.84 32.77C76.0656 31.7934 74.5813 30.3644 73.5382 28.6282C72.4951 26.892 71.9303 24.9106 71.9013 22.8854C71.8723 20.8601 72.3801 18.8633 73.3731 17.098C74.3661 15.3326 75.8088 13.8617 77.5546 12.8348C79.3004 11.8078 81.287 11.2615 83.3125 11.2513C85.3379 11.2411 87.3299 11.7674 89.0859 12.7768C90.842 13.7861 92.2994 15.2424 93.3101 16.9977C94.3208 18.753 94.8487 20.7446 94.84 22.77L94.89 22.76Z"
                    fill="#2D333E" stroke="#4A5059" stroke-miterlimit="10" />
                <path
                    d="M78.52 23.92C79.1606 23.92 79.68 23.4006 79.68 22.76C79.68 22.1193 79.1606 21.6 78.52 21.6C77.8793 21.6 77.36 22.1193 77.36 22.76C77.36 23.4006 77.8793 23.92 78.52 23.92Z"
                    fill="#4A5059" />
                <path
                    d="M83.42 23.92C84.0607 23.92 84.58 23.4006 84.58 22.76C84.58 22.1193 84.0607 21.6 83.42 21.6C82.7794 21.6 82.26 22.1193 82.26 22.76C82.26 23.4006 82.7794 23.92 83.42 23.92Z"
                    fill="#4A5059" />
                <path
                    d="M88.32 23.92C88.9607 23.92 89.48 23.4006 89.48 22.76C89.48 22.1193 88.9607 21.6 88.32 21.6C87.6794 21.6 87.16 22.1193 87.16 22.76C87.16 23.4006 87.6794 23.92 88.32 23.92Z"
                    fill="#4A5059" />
            </svg>

            <p class="none">لايوجد إشعارات</p>
        </div>
        <% }else { %>
            <div class="path">
                <h5><a href="/">الرئيسية</a> </h5>
                <h5> / </h5>
                <h5>الإشعارات</h5>
            </div>
            <div class="notification-type">
                <div>
                    <button onclick="NotifyType('public')" class="active-notify" id="publicFilterBtn">إشعارات
                        عامة</button>
                    <button onclick="NotifyType('specialization')" id="specializationFilterBtn">إشعارات التخصص</button>
                </div>
            </div>

            <div id="notificationArea" class="notification-area mb-15 d-flex f-wrap mt-15" style="gap: 15px;">
                <!-- // public notification -->
                <% function formateDate(timestamp) { const date=new Date(timestamp); const options={ weekday: 'long' ,
                    year: 'numeric' , month: 'long' , day: 'numeric' , hour: '2-digit' , minute: '2-digit' ,
                    second: '2-digit' , hour12: true }; return new Intl.DateTimeFormat('ar-EG', options).format(date); }
                    %>

                    <% if(data.length> 0){ %>
                        <% for( let x=0; x < data.length; x++ ) { %>
                            <div class="notification public w-60 m-a rtl">
                                <div class="headOfNotification mr-15 ai-center">
                                    <span class="s1"></span>
                                    <p class="notify-date f-3">
                                        <%= formateDate(data[x].createdAt) %>
                                    </p>
                                </div>
                                <div class="bodyOfNotification w-90 m-a">
                                    <p style="margin-top: 0;">
                                        <%= data[x].content %>
                                    </p>
                                </div>
                                <% if(data[x].media) { %>
                                    <div class="bodyAttachment">
                                        <p>
                                            <svg width="25" height="25" viewBox="0 0 25 25" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M3.02832 12.9756C3.02832 19.9126 5.34132 22.2256 12.2783 22.2256C19.2153 22.2256 21.5283 19.9126 21.5283 12.9756C21.5283 6.03859 19.2153 3.72559 12.2783 3.72559C5.34132 3.72559 3.02832 6.03859 3.02832 12.9756Z"
                                                    stroke="#7233AD" stroke-width="1.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M10.8765 9.76002C10.8765 10.733 10.0885 11.521 9.11549 11.521C8.14349 11.521 7.35449 10.733 7.35449 9.76002C7.35449 8.78702 8.14349 7.99902 9.11549 7.99902C10.0885 7.99902 10.8765 8.78702 10.8765 9.76002Z"
                                                    stroke="#7233AD" stroke-width="1.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path
                                                    d="M21.3981 15.6423C20.5171 14.7363 19.2711 12.9053 16.9821 12.9053C14.6931 12.9053 14.6431 16.9433 12.3071 16.9433C9.97014 16.9433 9.02914 15.5723 7.50614 16.2883C5.98414 17.0033 4.74414 19.8493 4.74414 19.8493"
                                                    stroke="#7233AD" stroke-width="1.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                            </svg>
                                            مرفقات
                                        </p>
                                    </div>
                                    <div class="notify-image">
                                        <img src="<%= data[x].media %>">
                                    </div>
                                    <% } %>
                            </div>
                            <% } %>
                                <% } %>
                                    <!-- // specialization notification -->
                                    <%if(user){%>
                                        <% if(data_by_specialization.length> 0){ %>
                                            <% for( let x=0; x < data_by_specialization.length; x++ ) { %>
                                                <div class="notification specialization w-60 m-a rtl" hidden>
                                                    <div class="headOfNotification mr-15 ai-center">
                                                        <span class="s1"></span>
                                                        <p class="notify-date f-3">
                                                            <%= formateDate(data[x].createdAt) %>
                                                        </p>
                                                    </div>
                                                    <div class="bodyOfNotification w-90 m-a">
                                                        <p style="margin-top: 0;">
                                                            <%= data_by_specialization[x].content %>
                                                        </p>
                                                    </div>
                                                    <% if(data_by_specialization[x].media) { %>
                                                        <div class="bodyAttachment">
                                                            <p>
                                                                <svg width="25" height="25" viewBox="0 0 25 25"
                                                                    fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                                        d="M3.02832 12.9756C3.02832 19.9126 5.34132 22.2256 12.2783 22.2256C19.2153 22.2256 21.5283 19.9126 21.5283 12.9756C21.5283 6.03859 19.2153 3.72559 12.2783 3.72559C5.34132 3.72559 3.02832 6.03859 3.02832 12.9756Z"
                                                                        stroke="#7233AD" stroke-width="1.5"
                                                                        stroke-linecap="round"
                                                                        stroke-linejoin="round" />
                                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                                        d="M10.8765 9.76002C10.8765 10.733 10.0885 11.521 9.11549 11.521C8.14349 11.521 7.35449 10.733 7.35449 9.76002C7.35449 8.78702 8.14349 7.99902 9.11549 7.99902C10.0885 7.99902 10.8765 8.78702 10.8765 9.76002Z"
                                                                        stroke="#7233AD" stroke-width="1.5"
                                                                        stroke-linecap="round"
                                                                        stroke-linejoin="round" />
                                                                    <path
                                                                        d="M21.3981 15.6423C20.5171 14.7363 19.2711 12.9053 16.9821 12.9053C14.6931 12.9053 14.6431 16.9433 12.3071 16.9433C9.97014 16.9433 9.02914 15.5723 7.50614 16.2883C5.98414 17.0033 4.74414 19.8493 4.74414 19.8493"
                                                                        stroke="#7233AD" stroke-width="1.5"
                                                                        stroke-linecap="round"
                                                                        stroke-linejoin="round" />
                                                                </svg>
                                                                مرفقات
                                                            </p>
                                                        </div>
                                                        <div class="notify-image">
                                                            <img src="<%= data_by_specialization[x].media %>">
                                                        </div>
                                                        <% } %>
                                                </div>
                                                <% } %>
                                                    <% } %>
                                                        <%} else {%>
                                                            <p id="notLogged" class="notLogged w-100 none" hidden>يرجى
                                                                تسجيل
                                                                الدخول
                                                                لرؤية
                                                                الإشعارات
                                                                المخصصة.
                                                            </p>
                                                            <% } %>
                                                                <% } %>
            </div>

</body>

<script>

    let isLoggedIn = `<%= is_logged_in %>` === `true`;

    function NotifyType(type) {

        let public = document.getElementById("publicFilterBtn");
        let speclization = document.getElementById("specializationFilterBtn");
        let notificationArea = document.getElementById("notificationArea")

        if (type == "public") {
            public.classList.add("active-notify");
            speclization.classList.remove("active-notify");
            document.querySelector(".notification-area").classList.remove("speclization");
            changeData('public');
        } else {
            speclization.classList.add("active-notify");
            public.classList.remove("active-notify");
            document.querySelector(".notification-area").classList.add("speclization");
            if (isLoggedIn === false) {
                changeData('speclization');
                document.getElementById("notLogged").hidden = false;
            } else {
                changeData('speclization');
            }
        }
    }
    async function changeData(type) {
        const isPublic = type === "public";

        document.querySelectorAll('.public').forEach(element => {
            element.hidden = !isPublic;
        });

        document.querySelectorAll('.specialization').forEach(element => {
            element.hidden = isPublic;
        });
    }
</script>

</html>