<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/script.js"></script>
    <!-- header -->

    <title>الملف الشخصي</title>

    <!-- style -->

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/resaponsive.css">
    <!-- icons lib -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/503befbdb7.js" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

</head>

<body>

    <!-- start Navbar -->

    <div class="navbar">
        <img src="media/midad2.png" class="logos">
        <button id="action1" onclick="test()"><svg width="30" height="25" viewBox="0 0 30 25" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M0 2.08333C0 1.5308 0.225765 1.0009 0.627628 0.610195C1.02949 0.219494 1.57454 0 2.14286 0H27.8571C28.4255 0 28.9705 0.219494 29.3724 0.610195C29.7742 1.0009 30 1.5308 30 2.08333C30 2.63587 29.7742 3.16577 29.3724 3.55647C28.9705 3.94717 28.4255 4.16667 27.8571 4.16667H2.14286C1.57454 4.16667 1.02949 3.94717 0.627628 3.55647C0.225765 3.16577 0 2.63587 0 2.08333ZM0 12.5C0 11.9475 0.225765 11.4176 0.627628 11.0269C1.02949 10.6362 1.57454 10.4167 2.14286 10.4167H27.8571C28.4255 10.4167 28.9705 10.6362 29.3724 11.0269C29.7742 11.4176 30 11.9475 30 12.5C30 13.0525 29.7742 13.5824 29.3724 13.9731C28.9705 14.3638 28.4255 14.5833 27.8571 14.5833H2.14286C1.57454 14.5833 1.02949 14.3638 0.627628 13.9731C0.225765 13.5824 0 13.0525 0 12.5ZM0 22.9167C0 22.3641 0.225765 21.8342 0.627628 21.4435C1.02949 21.0528 1.57454 20.8333 2.14286 20.8333H27.8571C28.4255 20.8333 28.9705 21.0528 29.3724 21.4435C29.7742 21.8342 30 22.3641 30 22.9167C30 23.4692 29.7742 23.9991 29.3724 24.3898C28.9705 24.7805 28.4255 25 27.8571 25H2.14286C1.57454 25 1.02949 24.7805 0.627628 24.3898C0.225765 23.9991 0 23.4692 0 22.9167Z"
                    fill="#A5A5A8" />
            </svg>

        </button>
    </div>

    <div class="sidebar">
        <div class="contents">
            <ul class="list-ul">
                <li class="activeList1"><svg width="25" height="25" viewBox="0 0 25 25" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.35742 17.1113H15.1724" stroke="#a5a5a8" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M2.67871 14.6886C2.67871 9.05759 3.29271 9.45059 6.59771 6.38559C8.04371 5.22159 10.2937 2.97559 12.2367 2.97559C14.1787 2.97559 16.4737 5.21059 17.9327 6.38559C21.2377 9.45059 21.8507 9.05759 21.8507 14.6886C21.8507 22.9756 19.8917 22.9756 12.2647 22.9756C4.63771 22.9756 2.67871 22.9756 2.67871 14.6886Z"
                            stroke="#a5a5a8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <a href="/">الرئيسية</a>
                </li>
                <li><svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.8743 16.6719H8.6543" stroke="#a5a5a8" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M15.8743 12.9121H8.6543" stroke="#a5a5a8" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M11.4093 9.15234H8.6543" stroke="#a5a5a8" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M3.88867 12.9756C3.88867 19.9126 5.98667 22.2256 12.2797 22.2256C18.5737 22.2256 20.6707 19.9126 20.6707 12.9756C20.6707 6.03859 18.5737 3.72559 12.2797 3.72559C5.98667 3.72559 3.88867 6.03859 3.88867 12.9756Z"
                            stroke="#a5a5a8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>

                    <a href="/library">الكتب الجامعية</a>
                </li>
                <li> <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M12.2783 3.72559C5.34132 3.72559 3.02832 6.03859 3.02832 12.9756C3.02832 19.9126 5.34132 22.2256 12.2783 22.2256C19.2153 22.2256 21.5283 19.9126 21.5283 12.9756"
                            stroke="#a5a5a8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M19.8064 5.27922V5.27922C18.8134 4.40022 17.2964 4.49222 16.4174 5.48522C16.4174 5.48522 12.0484 10.4202 10.5334 12.1332C9.01636 13.8452 10.1284 16.2102 10.1284 16.2102C10.1284 16.2102 12.6324 17.0032 14.1264 15.3152C15.6214 13.6272 20.0124 8.66822 20.0124 8.66822C20.8914 7.67522 20.7984 6.15822 19.8064 5.27922Z"
                            stroke="#a5a5a8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M15.2871 6.77637L18.8821 9.95937" stroke="#a5a5a8" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>

                    <a href="/edit">تعديل الملفات</a>
                </li>
                <li><svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M12.2742 3.49023C7.83993 3.49023 5.91326 7.50547 5.91326 10.1598C5.91326 12.1436 6.20088 11.5598 5.10279 13.9798C3.76184 17.4283 9.15422 18.8379 12.2742 18.8379C15.3933 18.8379 20.7856 17.4283 19.4456 13.9798C18.3475 11.5598 18.6352 12.1436 18.6352 10.1598C18.6352 7.50547 16.7075 3.49023 12.2742 3.49023Z"
                            stroke="#a5a5a8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M14.5839 21.4883C13.2896 22.934 11.2705 22.9511 9.96387 21.4883" stroke="#a5a5a8"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <a href="/notifications">إشعارات هامة</a>
                </li>
                <li><svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M12.2486 3.47559C5.86156 3.47559 4.78256 4.40759 4.78256 11.9046C4.78256 20.2976 4.62556 22.4756 6.22156 22.4756C7.81656 22.4756 10.4216 18.7916 12.2486 18.7916C14.0756 18.7916 16.6806 22.4756 18.2756 22.4756C19.8716 22.4756 19.7146 20.2976 19.7146 11.9046C19.7146 4.40759 18.6356 3.47559 12.2486 3.47559Z"
                            stroke="#a5a5a8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>

                    <a href="/bookMarks">قائمة المرجعيات</a>
                </li>
                <li><svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M11.7714 13.4136C11.7714 13.4136 -0.205275 10.936 3.95667 8.53341C7.46882 6.50611 19.5728 3.02056 21.2638 3.92116C22.1644 5.61216 18.6788 17.7161 16.6515 21.2283C14.249 25.3902 11.7714 13.4136 11.7714 13.4136Z"
                            stroke="#a5a5a8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M11.7715 13.4133L21.2639 3.9209" stroke="#a5a5a8" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <a href="/contact">تواصل</a>
                </li>
            </ul>
            <div class="footer-wright">
                <p class="right">© | Enigma - 2025</p>
            </div>
        </div>
    </div>

    <!-- End navbar -->

    <div class="block" onclick="hideblock()"></div>

    <!-- start content -->
    <div class="path">
        <h5><a href="/">الرئيسية</a> </h5>
        <h5> / </h5>
        <h5>الملف الشخصي</h5>
    </div>
    <div class="divData">
        <div class="headOfData">
            <img src="https://ik.imagekit.io/83055nufx/userIcon/<%=user.gender%>Student.png?updatedAt=1751925030845">
            <div class="info">
                <p>إسم المستخدم <a>
                        <%= user.username %>
                    </a></p>
                <p>البريد الإلكتروني <a>
                        <%= user.email %>
                    </a></p>
                <p class="specializationProfile">
                    <%= user.specialization.college.name%> / <%= user.specialization.name%>
                </p>
                <a class="role">
                    <% let displayText="" ; if (user.role==="user" ) { if (user.gender==="female" ) {
                        displayText="طالبة" ; } else { displayText="طالب" ; } } else if (user.role==="admin" ) { if
                        (user.gender==="female" ) { displayText="مشرفة" ; } else { displayText="مشرف" ; } } %>
                        <%= displayText %>%>
                </a>
            </div>
        </div>
        <div class="noteProfile">
            <svg width="50" height="147" viewBox="0 0 157 147" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M87.2819 20.7496L89.2818 23.2213L90.9789 26L133.347 123L134.74 126.173L135.616 129.286L136 132.293L135.915 135.145L135.383 137.791L134.428 140.176L133.071 142.248L131.336 143.948L129.246 145.218L126.827 145.998L124.104 146.227L121.107 145.844L19.5474 123.813L15.9042 122.657L12.5566 120.954L9.55058 118.781L6.93016 116.217L4.73733 113.344L3.01183 110.245L1.79101 107.003L1.10962 103.701L0.999985 100.42L1.49192 97.2409L2.61274 94.2421L4.3875 91.5L63.5 17.0467L65.2789 15.3512L67.3606 14.1844L69.6787 13.5182L72.1683 13.3256L74.7665 13.5804L77.412 14.2578L80.0447 15.3345L82.6058 16.7885L85.0374 18.5997L87.2819 20.7496Z"
                    fill="url(#paint0_linear_20_63)" fill-opacity="0.35" />
                <foreignObject x="-30" y="-26.0643" width="209.913" height="202.672">
                    <div xmlns="http://www.w3.org/1999/xhtml"
                        style="backdrop-filter:blur(15px);clip-path:url(#bgblur_0_20_63_clip_path);height:100%;width:100%">
                    </div>
                </foreignObject>
                <path data-figma-bg-blur-radius="30" fill-rule="evenodd" clip-rule="evenodd"
                    d="M1.69983 93.8062L3.51585 90.9811L60.4007 20.2043L63.3935 17.0624L66.4381 13.8662L69.5361 10.6138L72.6886 7.30433L75.8975 3.93565L18.3806 75.9405L16.5404 78.8406L15.3782 82.0123L14.8682 85.3746L14.9819 88.8446L15.6884 92.3373L16.9543 95.7661L18.7433 99.0435L21.0169 102.082L23.7339 104.793L26.8507 107.092L30.3216 108.893L34.099 110.116L141.474 134.973L144.582 135.378L147.405 135.135L149.913 134.311L145.87 136.633L141.9 138.913L138.002 141.152L134.175 143.351L130.415 145.51L127.949 146.338L125.187 146.607L122.16 146.255L18.2513 123.685L14.6173 122.56L11.2882 120.874L8.30833 118.704L5.72031 116.132L3.56472 113.239L1.87996 110.109L0.702133 106.826L0.065033 103.472L0 100.13L0.536041 96.8816L1.69983 93.8062Z"
                    fill="url(#paint1_linear_20_63)" fill-opacity="0.6" />
                <foreignObject x="1.86823" y="-13" width="168.048" height="161.378">
                    <div xmlns="http://www.w3.org/1999/xhtml"
                        style="backdrop-filter:blur(6.5px);clip-path:url(#bgblur_1_20_63_clip_path);height:100%;width:100%">
                    </div>
                </foreignObject>
                <path data-figma-bg-blur-radius="13"
                    d="M87.4903 0.762695L90.1641 1.46094L92.8243 2.57129L95.4297 4.0791L97.9034 5.95898L100.185 8.18848L102.217 10.75L103.948 13.6426L153.713 111.025L155.138 114.336L156.026 117.56L156.414 120.663L156.328 123.604L155.793 126.315L154.838 128.749L153.487 130.853L151.768 132.572L149.699 133.854L147.305 134.642L144.595 134.875L141.563 134.479L34.2393 109.635L30.5176 108.432L27.1172 106.667L24.0596 104.412L21.3936 101.751L19.1641 98.7715L17.4102 95.5586L16.171 92.2021L15.4796 88.7861L15.3692 85.4014L15.8653 82.1348L16.9903 79.0635L18.7842 76.2354L76.2696 4.27051L78.046 2.54395L80.0997 1.37012L82.3946 0.697266L84.8799 0.500977L87.4903 0.762695Z"
                    fill="url(#paint2_linear_20_63)" fill-opacity="0.2" stroke="url(#paint3_linear_20_63)" />
                <g filter="url(#filter2_d_20_63)">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M86.4917 26.5058L86.3154 26.7949L84.9208 27.7513L83.5262 28.7077L83.6621 28.3545L83.8392 28.0661L85.1654 27.286L86.4917 26.5058ZM84.0571 27.8425L86.7075 26.2829L86.7092 26.2818L86.4917 26.5058L83.8408 28.065L83.8392 28.0661L84.0571 27.8425ZM86.3154 26.7949L84.9208 27.7513L83.5262 28.7077L83.4316 29.126L84.7591 28.3476L86.0866 27.5692L86.1801 27.1495L86.3154 26.7949ZM84.0946 27.8203L84.0571 27.8425L84.0605 27.8404L84.316 27.6835L86.9301 26.1452L86.9678 26.123L86.9645 26.125L86.7092 26.2818L84.0946 27.8203ZM86.0866 27.5692L84.7591 28.3476L83.4316 29.126L83.3783 29.6093L83.3662 30.1578L84.1485 72.4532L84.1484 72.4549L84.1765 72.9836L84.2408 73.4794L84.3412 73.9424L84.478 74.3721L84.6507 74.7688L84.8595 75.132L85.1046 75.4618L85.3854 75.7579L85.702 76.0206L86.0544 76.2496L86.4424 76.4449L86.8659 76.6065L91.7017 78.1939L92.1183 78.3083L92.4994 78.3662L92.845 78.3677L93.1553 78.313L95.6363 77.0689L95.6372 77.0684L95.2914 77.066L94.9098 77.0069L94.4925 76.891L89.6477 75.2837L89.2235 75.1203L88.8344 74.923L88.481 74.6921L88.1633 74.4274L87.8814 74.129L87.635 73.7972L87.4253 73.4314L87.2513 73.0324L87.1131 72.6003L87.0113 72.1347L86.9461 71.6361L86.9166 71.1047L86.0237 28.6071L86.0237 28.6055L86.0345 28.0545L86.0866 27.5692ZM92.9232 99.8255L92.453 99.7136L85.9883 97.8059L85.5078 97.6369L85.0688 97.4257L84.6716 97.1723L84.3163 96.8767L84.0032 96.539L83.7325 96.1593L83.5041 95.7376L83.3182 95.2741L83.1748 94.769L83.0739 94.2225L83.0158 93.6348L83 93.0061L83.0582 86.0933L83.0842 85.4862L83.1515 84.9461L83.2598 84.473L83.4091 84.0668L83.5994 83.7273L83.8306 83.4544L84.1026 83.2481L86.8976 81.9526L86.8985 81.9522L86.6269 82.1589L86.3962 82.4326L86.2065 82.7733L86.058 83.1813L85.9508 83.6566L85.8849 84.1992L85.8604 84.8095L85.82 91.758L85.8373 92.3899L85.8971 92.9809L85.9996 93.5305L86.1444 94.0385L86.3318 94.5049L86.5616 94.9293L86.8336 95.3116L87.1479 95.6518L87.5043 95.9497L87.9026 96.2054L88.3427 96.4186L95.3011 98.5215L95.7723 98.635L96.2018 98.6822L96.5893 98.6631L94.0855 99.766L93.7396 99.8515L93.3522 99.8714L92.9232 99.8255ZM96.5893 98.6631L96.9356 98.5778L94.0855 99.766L96.5893 98.6631Z"
                        fill="url(#paint4_linear_20_63)" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M87.6082 26L87.6082 26L87.6082 26L87.6082 26L87.2676 26.0291L86.9679 26.123L86.9679 26.123L86.9678 26.123L86.7093 26.2818L86.4918 26.5057L86.4917 26.5058L86.4917 26.5058L86.3153 26.7949L86.1803 27.1493L86.1803 27.1494L86.1803 27.1494L86.1803 27.1494L86.1803 27.1494L86.9679 26.123L86.9679 26.123L86.9679 26.1231L86.1803 27.1494L86.0345 28.0545L86.0238 28.6055L86.9165 71.1021L86.9165 71.1047L86.946 71.6361L87.0116 72.1346L87.1134 72.6001L87.2512 73.0324L87.4252 73.4314L87.6353 73.7969L87.8813 74.129L88.1632 74.4274L88.481 74.6921L88.8344 74.923L89.2233 75.1203L89.6475 75.2837L94.4924 76.891L94.9097 77.0069L95.2913 77.066L95.6373 77.0684L95.9478 77.0142L96.2226 76.9035L96.2227 76.9035L96.2228 76.9034L96.4622 76.7364L96.6661 76.5133L96.6663 76.5131L96.6664 76.513L96.6664 76.513L96.6665 76.5128L96.8353 76.2334L96.969 75.898L96.9691 75.8977L97.1313 75.0586L97.1313 75.0583L97.1599 74.5547L98.0223 33.4285L98.0222 33.4279L98.012 32.8794L97.9617 32.362L97.8714 31.8762L97.7411 31.4217L97.5709 30.9984L97.3606 30.6061L97.1101 30.2447L96.8195 29.9141L96.4885 29.6141L96.117 29.3448L95.7049 29.1061L95.2518 28.898L88.8747 26.3004L88.4119 26.1358L88.4119 26.1358L88.4116 26.1358L87.9896 26.0356L87.6083 26L87.6082 26ZM96.9692 75.8977L97.0679 75.506L97.1314 75.0583L96.9692 75.8977ZM97.6632 86.0271L97.4402 85.6145L97.1773 85.2415L96.8743 84.9082L96.531 84.6143L96.1473 84.3599L95.723 84.1449H95.7229L95.2579 83.9693L88.8684 81.9179L88.3933 81.792L87.9587 81.7323L87.5646 81.739L87.2112 81.8122L86.8986 81.9521L86.6268 82.1589H86.6268L86.6262 82.1597L86.3962 82.4326L86.2071 82.7723L86.2064 82.7733L86.2061 82.7746L86.058 83.1813L85.9511 83.6551L85.9508 83.6565L85.9507 83.6566L85.9507 83.6571L85.9505 83.6587L85.8849 84.1992L85.8604 84.8091L85.8604 84.8095L85.8199 91.758L85.8374 92.3899L85.8973 92.9809L85.9997 93.5305L86.1445 94.0385L86.3318 94.5046L86.3318 94.5048L86.3319 94.5049L86.5616 94.9293L86.8337 95.3116L87.1481 95.6518L87.5045 95.9497L87.5046 95.9498L87.5052 95.9502L87.9028 96.2053L88.3421 96.4183L88.3427 96.4186L95.3012 98.5215L95.7724 98.635L96.2018 98.6822L96.5895 98.663L96.9355 98.5778L97.2401 98.4266L97.5031 98.2098L97.5033 98.2096L97.5034 98.2096L97.7253 97.9268L97.9059 97.5785L97.906 97.578L97.9061 97.5778L97.9062 97.5774L98.0454 97.1647L98.1439 96.6859L98.144 96.6855L98.2017 96.1411L98.2184 95.5316L98.2184 95.5315L98.1796 88.6912L98.156 88.0776L98.0926 87.5046L97.9893 86.972L97.8462 86.4795L97.6632 86.0271ZM97.9893 86.972L98.156 88.0776L98.2184 95.5315L98.156 88.0776L97.9893 86.972L97.1773 85.2416L97.1773 85.2415L97.9893 86.972ZM86.0866 27.5692L86.1803 27.1494L86.0344 28.0545L86.0866 27.5692Z"
                        fill="url(#paint5_linear_20_63)" fill-opacity="0.8" />
                </g>
                <defs>
                    <clipPath id="bgblur_0_20_63_clip_path" transform="translate(30 26.0643)">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M1.69983 93.8062L3.51585 90.9811L60.4007 20.2043L63.3935 17.0624L66.4381 13.8662L69.5361 10.6138L72.6886 7.30433L75.8975 3.93565L18.3806 75.9405L16.5404 78.8406L15.3782 82.0123L14.8682 85.3746L14.9819 88.8446L15.6884 92.3373L16.9543 95.7661L18.7433 99.0435L21.0169 102.082L23.7339 104.793L26.8507 107.092L30.3216 108.893L34.099 110.116L141.474 134.973L144.582 135.378L147.405 135.135L149.913 134.311L145.87 136.633L141.9 138.913L138.002 141.152L134.175 143.351L130.415 145.51L127.949 146.338L125.187 146.607L122.16 146.255L18.2513 123.685L14.6173 122.56L11.2882 120.874L8.30833 118.704L5.72031 116.132L3.56472 113.239L1.87996 110.109L0.702133 106.826L0.065033 103.472L0 100.13L0.536041 96.8816L1.69983 93.8062Z" />
                    </clipPath>
                    <clipPath id="bgblur_1_20_63_clip_path" transform="translate(-1.86823 13)">
                        <path
                            d="M87.4903 0.762695L90.1641 1.46094L92.8243 2.57129L95.4297 4.0791L97.9034 5.95898L100.185 8.18848L102.217 10.75L103.948 13.6426L153.713 111.025L155.138 114.336L156.026 117.56L156.414 120.663L156.328 123.604L155.793 126.315L154.838 128.749L153.487 130.853L151.768 132.572L149.699 133.854L147.305 134.642L144.595 134.875L141.563 134.479L34.2393 109.635L30.5176 108.432L27.1172 106.667L24.0596 104.412L21.3936 101.751L19.1641 98.7715L17.4102 95.5586L16.171 92.2021L15.4796 88.7861L15.3692 85.4014L15.8653 82.1348L16.9903 79.0635L18.7842 76.2354L76.2696 4.27051L78.046 2.54395L80.0997 1.37012L82.3946 0.697266L84.8799 0.500977L87.4903 0.762695Z" />
                    </clipPath>
                    <filter id="filter2_d_20_63" x="69" y="19" width="35.2184" height="93.8714"
                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha" />
                        <feOffset dx="-4" dy="3" />
                        <feGaussianBlur stdDeviation="5" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix"
                            values="0 0 0 0 0.333333 0 0 0 0 0.260549 0 0 0 0 0.207843 0 0 0 0.3 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_20_63" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_20_63" result="shape" />
                    </filter>
                    <linearGradient id="paint0_linear_20_63" x1="4.35384" y1="151.818" x2="115.291" y2="8.93893"
                        gradientUnits="userSpaceOnUse">
                        <stop offset="0.268633" stop-color="#EFEAD5" />
                        <stop offset="0.763637" stop-color="#E7E5B7" stop-opacity="0.39" />
                    </linearGradient>
                    <linearGradient id="paint1_linear_20_63" x1="-36.8169" y1="23.2711" x2="97.6727" y2="189.644"
                        gradientUnits="userSpaceOnUse">
                        <stop offset="0.325325" stop-color="#FFEDBE" />
                        <stop offset="0.51875" stop-color="#FFD276" />
                        <stop offset="0.976143" stop-color="#F56464" />
                    </linearGradient>
                    <linearGradient id="paint2_linear_20_63" x1="19.3824" y1="140.473" x2="137.27" y2="-8.37306"
                        gradientUnits="userSpaceOnUse">
                        <stop offset="0.268633" stop-color="#EFEAD5" />
                        <stop offset="0.763637" stop-color="#B48571" />
                    </linearGradient>
                    <linearGradient id="paint3_linear_20_63" x1="15" y1="103" x2="74" y2="55.5"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="white" stop-opacity="0.27" />
                        <stop offset="0.688828" stop-color="white" stop-opacity="0" />
                    </linearGradient>
                    <linearGradient id="paint4_linear_20_63" x1="76.5" y1="47" x2="101.763" y2="48.1866"
                        gradientUnits="userSpaceOnUse">
                        <stop offset="0.334199" stop-color="#CAB48A" />
                        <stop offset="0.590808" stop-color="#C0A36B" />
                    </linearGradient>
                    <linearGradient id="paint5_linear_20_63" x1="124.5" y1="98" x2="142.587" y2="72.8977"
                        gradientUnits="userSpaceOnUse">
                        <stop offset="0.306695" stop-color="white" stop-opacity="0.85" />
                        <stop offset="1" stop-color="#E7D4B7" stop-opacity="0.64" />
                    </linearGradient>
                </defs>
            </svg>
            <p>الملف الشخصي غير قابل للتعديل في الوقت الحالي.</p>
        </div>

        <form action="/auth/logout" method="post">
            <button type="submit" class="NotLogged">
                &lang;&lang; <a style="color: white; text-decoration: none;"> تسجيل الخروج</a>
            </button>
        </form>

    </div>

</body>
<script>

</script>

</html>