<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/script.js"></script>
    <!-- header -->

    <title>قائمة المرجعيات</title>

    <!-- style -->

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/hint.css" />
    <link rel="stylesheet" href="/css/responsive.css"/>
    <link rel="stylesheet" href="/css/frameWork.css">
    <!-- icons lib -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/503befbdb7.js" crossorigin="anonymous"></script>
    <!-- JavaScript -->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />
    <!-- Semantic UI theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css" />
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css" />
</head>

<body>

    <!-- start Navbar -->

    <div class="navbar">
        <% if(user) {%>
            <div class="userData">
                <img class="cover"
                    src="https://ik.imagekit.io/83055nufx/userIcon/<%=user.gender%>Student.png?updatedAt=1751925030845">
                <p class="username">
                    <%= user.username%>
                </p>
                <button onclick="window.location.href='/profile'" class="setting"><svg width="20" height="20"
                        viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M9.4415 0H10.5585C11.4193 0 12.1836 0.55086 12.4558 1.36754L12.88 2.63999C12.9573 2.87193 13.1169 3.06751 13.3286 3.18976L14.2334 3.7122C14.4451 3.83447 14.6943 3.87492 14.9339 3.8259L16.2479 3.55701C17.0913 3.38443 17.9505 3.77088 18.3809 4.51641L18.9394 5.48373C19.3698 6.22925 19.2749 7.16657 18.7037 7.81067L17.8139 8.8142C17.6516 8.9971 17.5621 9.2332 17.5621 9.4777V10.5224C17.5621 10.7669 17.6517 11.0029 17.8139 11.1859L18.7038 12.1894C19.275 12.8335 19.3699 13.7708 18.9395 14.5163L18.381 15.4837C17.9506 16.2292 17.0914 16.6156 16.248 16.4431L14.934 16.1742C14.6944 16.1251 14.4452 16.1656 14.2335 16.2878L13.3286 16.8102C13.1169 16.9325 12.9573 17.1281 12.88 17.36L12.4558 18.6325C12.1836 19.4491 11.4193 20 10.5585 20H9.4415C8.5806 20 7.81635 19.4491 7.54412 18.6325L7.11999 17.3601C7.04267 17.1281 6.88304 16.9325 6.67128 16.8102L5.76643 16.2879C5.55469 16.1656 5.30551 16.1252 5.06598 16.1742L3.75195 16.4431C2.90856 16.6157 2.04937 16.2293 1.61893 15.4837L1.06045 14.5164C0.630023 13.7709 0.724943 12.8336 1.2961 12.1895L2.18598 11.1859C2.3482 11.003 2.43777 10.767 2.43778 10.5225L2.43779 9.4776C2.43779 9.2331 2.34822 8.9971 2.18599 8.8141L1.29612 7.8106C0.724973 7.1665 0.630053 6.22919 1.06048 5.48366L1.61896 4.51634C2.04939 3.77081 2.90859 3.38436 3.75197 3.55695L5.06598 3.82584C5.30552 3.87486 5.55472 3.83442 5.76646 3.71217L6.6713 3.18976C6.88305 3.06751 7.04267 2.87192 7.11999 2.63996L7.54412 1.36754C7.81635 0.55086 8.5806 0 9.4415 0ZM10 13.5C11.933 13.5 13.5 11.933 13.5 10C13.5 8.067 11.933 6.5 10 6.5C8.067 6.5 6.5 8.067 6.5 10C6.5 11.933 8.067 13.5 10 13.5Z"
                            fill="whitesmoke" />
                    </svg>
                </button>
            </div>
            <% } else{%>

                <button onclick="window.location.href='/login'" class="notLoggedBtn">
                    تسجيل الدخول
                </button>

                <% } %>
                    <img src="media/midad2.png" class="logos"> <button id="action1" onclick="test()"><svg width="30"
                            height="25" viewBox="0 0 30 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M0 2.08333C0 1.5308 0.225765 1.0009 0.627628 0.610195C1.02949 0.219494 1.57454 0 2.14286 0H27.8571C28.4255 0 28.9705 0.219494 29.3724 0.610195C29.7742 1.0009 30 1.5308 30 2.08333C30 2.63587 29.7742 3.16577 29.3724 3.55647C28.9705 3.94717 28.4255 4.16667 27.8571 4.16667H2.14286C1.57454 4.16667 1.02949 3.94717 0.627628 3.55647C0.225765 3.16577 0 2.63587 0 2.08333ZM0 12.5C0 11.9475 0.225765 11.4176 0.627628 11.0269C1.02949 10.6362 1.57454 10.4167 2.14286 10.4167H27.8571C28.4255 10.4167 28.9705 10.6362 29.3724 11.0269C29.7742 11.4176 30 11.9475 30 12.5C30 13.0525 29.7742 13.5824 29.3724 13.9731C28.9705 14.3638 28.4255 14.5833 27.8571 14.5833H2.14286C1.57454 14.5833 1.02949 14.3638 0.627628 13.9731C0.225765 13.5824 0 13.0525 0 12.5ZM0 22.9167C0 22.3641 0.225765 21.8342 0.627628 21.4435C1.02949 21.0528 1.57454 20.8333 2.14286 20.8333H27.8571C28.4255 20.8333 28.9705 21.0528 29.3724 21.4435C29.7742 21.8342 30 22.3641 30 22.9167C30 23.4692 29.7742 23.9991 29.3724 24.3898C28.9705 24.7805 28.4255 25 27.8571 25H2.14286C1.57454 25 1.02949 24.7805 0.627628 24.3898C0.225765 23.9991 0 23.4692 0 22.9167Z"
                                fill="#A5A5A8" />
                        </svg>

                    </button>
    </div>


    <div class="sidebar">
        <div class="contents">
            <ul class="list-ul">
                <li><svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.35742 17.1113H15.1724" stroke="#a5a5a8" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M2.67871 14.6886C2.67871 9.05759 3.29271 9.45059 6.59771 6.38559C8.04371 5.22159 10.2937 2.97559 12.2367 2.97559C14.1787 2.97559 16.4737 5.21059 17.9327 6.38559C21.2377 9.45059 21.8507 9.05759 21.8507 14.6886C21.8507 22.9756 19.8917 22.9756 12.2647 22.9756C4.63771 22.9756 2.67871 22.9756 2.67871 14.6886Z"
                            stroke="#a5a5a8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <a href="/">الرئيسية</a>
                </li>
                <li><svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.8743 16.6719H8.6543" stroke="#a5a5a8" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M15.8743 12.9121H8.6543" stroke="#a5a5a8" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M11.4093 9.15234H8.6543" stroke="#a5a5a8" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M3.88867 12.9756C3.88867 19.9126 5.98667 22.2256 12.2797 22.2256C18.5737 22.2256 20.6707 19.9126 20.6707 12.9756C20.6707 6.03859 18.5737 3.72559 12.2797 3.72559C5.98667 3.72559 3.88867 6.03859 3.88867 12.9756Z"
                            stroke="#a5a5a8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>

                    <a href="/library">الكتب الجامعية</a>
                </li>
                <li> <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M12.2783 3.72559C5.34132 3.72559 3.02832 6.03859 3.02832 12.9756C3.02832 19.9126 5.34132 22.2256 12.2783 22.2256C19.2153 22.2256 21.5283 19.9126 21.5283 12.9756"
                            stroke="#a5a5a8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M19.8064 5.27922V5.27922C18.8134 4.40022 17.2964 4.49222 16.4174 5.48522C16.4174 5.48522 12.0484 10.4202 10.5334 12.1332C9.01636 13.8452 10.1284 16.2102 10.1284 16.2102C10.1284 16.2102 12.6324 17.0032 14.1264 15.3152C15.6214 13.6272 20.0124 8.66822 20.0124 8.66822C20.8914 7.67522 20.7984 6.15822 19.8064 5.27922Z"
                            stroke="#a5a5a8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M15.2871 6.77637L18.8821 9.95937" stroke="#a5a5a8" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>

                    <a href="/edit">تعديل الملفات</a>
                </li>
                <li><svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M12.2742 3.49023C7.83993 3.49023 5.91326 7.50547 5.91326 10.1598C5.91326 12.1436 6.20088 11.5598 5.10279 13.9798C3.76184 17.4283 9.15422 18.8379 12.2742 18.8379C15.3933 18.8379 20.7856 17.4283 19.4456 13.9798C18.3475 11.5598 18.6352 12.1436 18.6352 10.1598C18.6352 7.50547 16.7075 3.49023 12.2742 3.49023Z"
                            stroke="#a5a5a8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M14.5839 21.4883C13.2896 22.934 11.2705 22.9511 9.96387 21.4883" stroke="#a5a5a8"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <a href="/notifications">إشعارات هامة</a>
                </li>
                <li class="activeList5"><svg width="25" height="25" viewBox="0 0 25 25" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M12.2486 3.47559C5.86156 3.47559 4.78256 4.40759 4.78256 11.9046C4.78256 20.2976 4.62556 22.4756 6.22156 22.4756C7.81656 22.4756 10.4216 18.7916 12.2486 18.7916C14.0756 18.7916 16.6806 22.4756 18.2756 22.4756C19.8716 22.4756 19.7146 20.2976 19.7146 11.9046C19.7146 4.40759 18.6356 3.47559 12.2486 3.47559Z"
                            stroke="#a5a5a8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>

                    <a href="/bookMarks">قائمة المرجعيات</a>
                </li>
                <li><svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M11.7714 13.4136C11.7714 13.4136 -0.205275 10.936 3.95667 8.53341C7.46882 6.50611 19.5728 3.02056 21.2638 3.92116C22.1644 5.61216 18.6788 17.7161 16.6515 21.2283C14.249 25.3902 11.7714 13.4136 11.7714 13.4136Z"
                            stroke="#a5a5a8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M11.7715 13.4133L21.2639 3.9209" stroke="#a5a5a8" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <a href="/contact">تواصل</a>
                </li>
            </ul>
            <div class="footer-wright">
                <p class="right">© | Enigma - 2025</p>
            </div>
        </div>
    </div>

    <!-- End navbar -->

    <div class="block" onclick="hideblock()"></div>

    <!-- start content -->
    <div class="path">
        <h5><a href="/">الرئيسية</a> </h5>
        <h5> / </h5>
        <h5>الكتب المحفوظة</h5>
    </div>

    <% if (user) { %>
        <div class="user-dashboard-info">

            <% if (!dataList || dataList.course_id.length===0) { %>
                <div class="noData">
                    <svg width="300" height="250" viewBox="0 0 118 96" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M79.59 26.94C71.23 26.99 62.73 26.61 54.77 24.39C46.96 22.22 39.83 18.02 33.41 13.16C29.22 9.98998 25.41 7.47998 19.99 7.84998C14.6792 8.13093 9.59929 10.1117 5.50004 13.5C-1.41996 19.5 -0.369957 30.73 2.39004 38.6C6.50004 50.5 19.18 58.7 29.92 64.07C42.33 70.27 55.92 73.87 69.63 75.94C81.63 77.76 97.0001 79.08 107.38 71.26C116.92 64.07 119.54 47.66 117.2 36.57C116.634 33.2956 114.891 30.3406 112.3 28.26C105.6 23.37 95.61 26.64 88.08 26.8C85.28 26.86 82.5 26.93 79.59 26.94Z"
                            fill="#272933" />
                        <path d="M103.28 71.34V75.64" stroke="#4A5059" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M101.13 73.49H105.43" stroke="#4A5059" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M28.4399 12.8199V17.1199" stroke="#4A5059" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M26.29 14.97H30.59" stroke="#4A5059" stroke-linecap="round" stroke-linejoin="round" />
                        <path
                            d="M100.43 13.21C100.971 13.21 101.41 12.7712 101.41 12.23C101.41 11.6888 100.971 11.25 100.43 11.25C99.8887 11.25 99.45 11.6888 99.45 12.23C99.45 12.7712 99.8887 13.21 100.43 13.21Z"
                            fill="#4A5059" />
                        <path
                            d="M31.77 44.54C32.3113 44.54 32.75 44.1012 32.75 43.56C32.75 43.0187 32.3113 42.58 31.77 42.58C31.2288 42.58 30.79 43.0187 30.79 43.56C30.79 44.1012 31.2288 44.54 31.77 44.54Z"
                            fill="#4A5059" />
                        <path
                            d="M63.3301 95.35C83.5713 95.35 99.9801 94.3292 99.9801 93.07C99.9801 91.8108 83.5713 90.79 63.3301 90.79C43.0888 90.79 26.6801 91.8108 26.6801 93.07C26.6801 94.3292 43.0888 95.35 63.3301 95.35Z"
                            fill="#272933" />
                        <path
                            d="M79.6101 72.15L61.81 61.5C61.2051 61.1399 60.5141 60.9498 59.81 60.9498C59.106 60.9498 58.415 61.1399 57.81 61.5L40.4301 72.1C39.8373 72.4614 39.1589 72.6579 38.4648 72.6695C37.7707 72.681 37.0861 72.5071 36.4817 72.1656C35.8773 71.8242 35.375 71.3276 35.0266 70.7272C34.6783 70.1267 34.4965 69.4442 34.5001 68.75V5.04002C34.5027 4.00648 34.9144 3.01603 35.6453 2.28521C36.3761 1.55439 37.3665 1.14265 38.4001 1.14001H81.6501C82.6844 1.14001 83.6764 1.55091 84.4078 2.2823C85.1392 3.01369 85.5501 4.00567 85.5501 5.04002V68.8C85.5547 69.4957 85.3732 70.18 85.0243 70.7819C84.6755 71.3838 84.1719 71.8814 83.566 72.2232C82.96 72.5649 82.2736 72.7383 81.578 72.7255C80.8825 72.7126 80.203 72.5139 79.6101 72.15Z"
                            fill="#2D333E" stroke="#4A5059" stroke-miterlimit="10" />
                        <path
                            d="M87.2 79.9301L68.62 68.78C67.9834 68.3954 67.2537 68.1921 66.51 68.1921C65.7662 68.1921 65.0366 68.3954 64.4 68.78L46.26 79.78C45.6439 80.1597 44.9375 80.3678 44.2139 80.3828C43.4903 80.3978 42.7759 80.219 42.1446 79.8652C41.5134 79.5113 40.9881 78.9951 40.6234 78.37C40.2586 77.7449 40.0675 77.0338 40.07 76.31V9.87005C40.07 8.79062 40.4988 7.7554 41.262 6.99213C42.0253 6.22885 43.0605 5.80005 44.14 5.80005H89.29C90.3694 5.80005 91.4046 6.22885 92.1679 6.99213C92.9312 7.7554 93.36 8.79062 93.36 9.87005V76.44C93.3595 77.1597 93.1683 77.8664 92.8058 78.488C92.4433 79.1097 91.9224 79.6241 91.2962 79.9788C90.6701 80.3335 89.9611 80.5159 89.2415 80.5074C88.5219 80.4988 87.8175 80.2996 87.2 79.9301Z"
                            fill="#2D333E" stroke="#4A5059" stroke-miterlimit="10" />
                        <path
                            d="M66.72 52.32C77.0533 52.32 85.43 43.9433 85.43 33.61C85.43 23.2768 77.0533 14.9 66.72 14.9C56.3868 14.9 48.01 23.2768 48.01 33.61C48.01 43.9433 56.3868 52.32 66.72 52.32Z"
                            fill="#2D333E" stroke="#4A5059" stroke-miterlimit="10" />
                        <path
                            d="M67.67 20.43L71.11 27.43L78.79 28.5C78.9884 28.5263 79.1754 28.6083 79.3291 28.7364C79.4829 28.8645 79.5973 29.0335 79.659 29.2239C79.7207 29.4143 79.7273 29.6183 79.6779 29.8123C79.6285 30.0063 79.5253 30.1823 79.38 30.32L73.82 35.74L75.14 43.39C75.1734 43.586 75.151 43.7875 75.0754 43.9713C74.9997 44.1552 74.8739 44.3141 74.7122 44.4299C74.5506 44.5456 74.3596 44.6136 74.1612 44.626C73.9628 44.6384 73.7648 44.5948 73.59 44.5L66.72 40.89L59.84 44.5C59.6663 44.5911 59.4707 44.6322 59.275 44.6188C59.0793 44.6054 58.8912 44.5379 58.7316 44.4239C58.5719 44.3098 58.4471 44.1538 58.3709 43.973C58.2947 43.7922 58.2702 43.5939 58.3 43.4L59.61 35.75L54.05 30.33C53.9017 30.1928 53.7957 30.016 53.7445 29.8206C53.6933 29.6251 53.6991 29.4191 53.7611 29.2268C53.8231 29.0344 53.9388 28.8639 54.0945 28.7351C54.2502 28.6064 54.4395 28.5248 54.64 28.5L62.32 27.38L65.76 20.38C65.8538 20.2056 65.9942 20.0606 66.1655 19.9612C66.3369 19.8618 66.5324 19.812 66.7304 19.8171C66.9284 19.8223 67.1211 19.8824 67.287 19.9906C67.4529 20.0988 67.5855 20.2509 67.67 20.43Z"
                            fill="#4A5059" stroke="#4A5059" stroke-miterlimit="10" />
                    </svg>

                    <p class="none">قائمة المرجعيات فارغة</p>
                </div>
                <% } else if (dataList) { %>
                    <div class="contentsOfBooks">
                        <div class="books-container">
                            <% dataList.course_id.forEach((item)=> { %>
                                <div class="book-box" onclick="window.location.href='/book/<%= item._id %>'">
                                    <img src="<%= item.courseImageUrl %>" alt="Book">
                                    <div class="book-title d-flex jc-sb ai-center">
                                        <p>
                                            <%= item.name %>
                                        </p>
                                        <button onclick="unSave(event,`<%= item._id %>`)"
                                            style="display: contents; cursor:pointer" aria-label="إزالة"
                                            class="unSave"><svg width="25" height="25" viewBox="0 0 25 25"
                                                fill="#ffc107" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M12.2486 3.47559C5.86156 3.47559 4.78256 4.40759 4.78256 11.9046C4.78256 20.2976 4.62556 22.4756 6.22156 22.4756C7.81656 22.4756 10.4216 18.7916 12.2486 18.7916C14.0756 18.7916 16.6806 22.4756 18.2756 22.4756C19.8716 22.4756 19.7146 20.2976 19.7146 11.9046C19.7146 4.40759 18.6356 3.47559 12.2486 3.47559Z"
                                                    stroke="#ffc107" stroke-width="1.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                            </svg> </button>
                                    </div>
                                    <div class="book-details">
                                        <div class="book-tag">
                                            <%= item.specialization.name %>
                                        </div>
                                    </div>
                                </div>
                                <%})%>
                        </div>
                        <% } else { %>
                            <p>لا توجد بيانات قائمة متوفرة.</p>
                            <% } %>
                    </div>
                    <% } else { %>
                        <div class="notLoggedIn">
                            <svg width="300" height="250" viewBox="0 0 109 96" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M78.7099 1.9C79.2015 1.9 79.5999 1.50153 79.5999 1.00999C79.5999 0.518461 79.2015 0.119995 78.7099 0.119995C78.2184 0.119995 77.8199 0.518461 77.8199 1.00999C77.8199 1.50153 78.2184 1.9 78.7099 1.9Z"
                                    fill="#4A5059" />
                                <path
                                    d="M84.91 63.45C85.4016 63.45 85.8 63.0515 85.8 62.56C85.8 62.0684 85.4016 61.67 84.91 61.67C84.4185 61.67 84.02 62.0684 84.02 62.56C84.02 63.0515 84.4185 63.45 84.91 63.45Z"
                                    fill="#4A5059" />
                                <path
                                    d="M73.11 32.96C65.49 32.96 57.75 32.65 50.51 30.64C43.27 28.63 36.9 24.84 31.05 20.41C27.24 17.52 23.76 15.23 18.83 15.58C13.9911 15.8345 9.36278 17.6403 5.63003 20.73C-0.659967 26.24 0.290031 36.42 2.80003 43.59C6.59003 54.39 18.1 61.88 27.88 66.77C39.18 72.41 51.59 75.69 64.04 77.58C74.99 79.23 88.97 80.44 98.42 73.31C107.11 66.77 109.49 51.82 107.36 41.73C106.845 38.7451 105.255 36.0521 102.89 34.16C96.79 29.7 87.69 32.68 80.89 32.83C78.29 32.89 75.71 32.95 73.11 32.96Z"
                                    fill="#272933" />
                                <path d="M103.33 18.55V22.47" stroke="#4A5059" stroke-width="0.7" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M101.38 20.51H105.29" stroke="#4A5059" stroke-width="0.7"
                                    stroke-linecap="round" stroke-linejoin="round" />
                                <path
                                    d="M54.48 95.26C72.9097 95.26 87.85 94.3288 87.85 93.18C87.85 92.0313 72.9097 91.1 54.48 91.1C36.0502 91.1 21.11 92.0313 21.11 93.18C21.11 94.3288 36.0502 95.26 54.48 95.26Z"
                                    fill="#272933" />
                                <path
                                    d="M91.4961 19.5456L22.4065 13.4281C20.404 13.2508 18.6369 14.7304 18.4596 16.7329L14.1581 65.3128C13.9808 67.3153 15.4604 69.0824 17.4629 69.2597L86.5526 75.3771C88.5551 75.5544 90.3222 74.0749 90.4995 72.0724L94.8009 23.4924C94.9782 21.49 93.4986 19.7229 91.4961 19.5456Z"
                                    fill="#2D333E" stroke="#4A5059" stroke-miterlimit="10" />
                                <path
                                    d="M74.8003 37.3075L35.7331 33.8484C34.8199 33.7675 34.014 34.4423 33.9332 35.3555L33.6924 38.0749C33.6115 38.9881 34.2863 39.7939 35.1995 39.8748L74.2667 43.334C75.1799 43.4148 75.9857 42.7401 76.0666 41.8268L76.3074 39.1075C76.3882 38.1943 75.7135 37.3884 74.8003 37.3075Z"
                                    fill="#2D333E" stroke="#4A5059" stroke-miterlimit="10" />
                                <path
                                    d="M73.758 49.06L34.6909 45.6008C33.7777 45.52 32.9718 46.1947 32.8909 47.1079L32.6502 49.8273C32.5693 50.7405 33.2441 51.5464 34.1573 51.6272L73.2244 55.0864C74.1377 55.1673 74.9435 54.4925 75.0244 53.5793L75.2652 50.8599C75.346 49.9467 74.6713 49.1408 73.758 49.06Z"
                                    fill="#2D333E" stroke="#4A5059" stroke-miterlimit="10" />
                                <path
                                    d="M59.8086 59.8686L46.5306 58.6929C45.8319 58.6311 45.2154 59.1473 45.1535 59.846L44.8439 63.3423C44.782 64.041 45.2983 64.6575 45.9969 64.7194L59.275 65.8951C59.9737 65.9569 60.5902 65.4407 60.6521 64.742L60.9616 61.2457C61.0235 60.547 60.5073 59.9305 59.8086 59.8686Z"
                                    fill="#4A5059" />
                                <path
                                    d="M66.06 16.17C66.062 18.4616 65.384 20.7022 64.1119 22.6083C62.8398 24.5144 61.0308 26.0002 58.9138 26.8776C56.7968 27.755 54.4671 27.9846 52.2196 27.5372C49.9721 27.0899 47.9079 25.9858 46.2882 24.3648C44.6685 22.7437 43.5662 20.6784 43.1208 18.4306C42.6755 16.1827 42.9071 13.8532 43.7863 11.737C44.6655 9.62077 46.1529 7.81302 48.06 6.54256C49.9672 5.2721 52.2084 4.59605 54.5 4.60001C56.0212 4.59205 57.5288 4.88595 58.9356 5.4647C60.3423 6.04345 61.6203 6.89555 62.6955 7.97164C63.7707 9.04774 64.6216 10.3265 65.1992 11.7337C65.7767 13.141 66.0693 14.6489 66.06 16.17Z"
                                    fill="#2D333E" stroke="#4A5059" stroke-miterlimit="10" />
                                <path
                                    d="M63.26 23.71C62.1757 24.9769 60.8299 25.994 59.3151 26.6914C57.8004 27.3888 56.1525 27.7499 54.485 27.7499C52.8174 27.7499 51.1696 27.3888 49.6548 26.6914C48.1401 25.994 46.7943 24.9769 45.71 23.71C45.8409 21.4714 46.8225 19.3675 48.4537 17.8289C50.085 16.2903 52.2426 15.4333 54.485 15.4333C56.7274 15.4333 58.885 16.2903 60.5162 17.8289C62.1475 19.3675 63.129 21.4714 63.26 23.71Z"
                                    fill="#4A5059" />
                                <path
                                    d="M54.4801 13.75C56.5787 13.75 58.2801 12.0487 58.2801 9.95002C58.2801 7.85134 56.5787 6.15002 54.4801 6.15002C52.3814 6.15002 50.6801 7.85134 50.6801 9.95002C50.6801 12.0487 52.3814 13.75 54.4801 13.75Z"
                                    fill="#4A5059" />
                                <path
                                    d="M44.56 39.4C45.5099 39.4 46.28 38.63 46.28 37.68C46.28 36.7301 45.5099 35.96 44.56 35.96C43.61 35.96 42.84 36.7301 42.84 37.68C42.84 38.63 43.61 39.4 44.56 39.4Z"
                                    fill="#4A5059" />
                                <path
                                    d="M51.52 40.01C52.47 40.01 53.24 39.2399 53.24 38.29C53.24 37.3401 52.47 36.57 51.52 36.57C50.5701 36.57 49.8 37.3401 49.8 38.29C49.8 39.2399 50.5701 40.01 51.52 40.01Z"
                                    fill="#4A5059" />
                                <path
                                    d="M58.48 40.63C59.4299 40.63 60.2 39.8599 60.2 38.91C60.2 37.9601 59.4299 37.19 58.48 37.19C57.5301 37.19 56.76 37.9601 56.76 38.91C56.76 39.8599 57.5301 40.63 58.48 40.63Z"
                                    fill="#4A5059" />
                                <path
                                    d="M65.43 41.24C66.3799 41.24 67.15 40.4699 67.15 39.52C67.15 38.5701 66.3799 37.8 65.43 37.8C64.48 37.8 63.71 38.5701 63.71 39.52C63.71 40.4699 64.48 41.24 65.43 41.24Z"
                                    fill="#4A5059" />
                            </svg>

                            <p>يرجى تسجيل الدخول لعرض قائمة المرجعيات</p>

                            <button onclick="window.location.href='/login'" type="submit" class="NotLogged">
                                &lang;&lang; <a style="color: white; text-decoration: none;"> تسجيل الدخول</a>
                            </button>

                        </div>
                        <% } %>

</body>
<script>

    // Initialize alertify notification position
    alertify.set('notifier', 'position', 'bottom-right');

    async function unSave(event, data) {
        event.stopPropagation();

        if (`<%= user ? "true" : "false" %>` === `false`) {
            return window.location.href = "/";
        } else {

            try {
                const response = await fetch(`/bookMark/remove/<%= user ? user._id : 'null' %>/${data}`, {

                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });

                if (!response.ok) {
                    throw new Error('Failed to bookmark the book');
                }

                const res = await response.json();

                if (res.action === "remove") {
                    alertify.success(res.message || 'Bookmarked successfully');
                    location.reload();
                }

            } catch (error) {
                console.error('Bookmark error:', error);
                alertify.error(data.message || 'Failed to bookmark the book');
            }

        }
    }

</script>

</html>